<div class="row ng-cloak">
    <div class="col-sm-3">
        <div class="panel panel-default" id="formContainer" style="margin-top:20px; padding:30px">
            <div class="form-group">
                <label for="serverFilter">Server Name Filter</label>
                <input id="serverFilter" placeholder="Enter Server Name" ng-model="serverNameFilter" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="numberPerPage">Number Per Page</label>
                <input id="numberPerPage" type="number" ng-model="numberPerPage" class="form-control"/>
            </div>
            <!--The order of pipes matters! itemsPerPage should go last-->
            <div dir-paginate="server in servers | filter:serverNameFilter | orderBy:'_source.name' | itemsPerPage: numberPerPage track by $index"
                 class="host-name-list">
                <span>
                    <input type="checkbox" ng-model='server.selected' ng-click="checkBoxClicked(server)" class="checkbox" id="server{{$index}}"/>
                    <label for="server{{$index}}"></label>
                </span>
                <a class="host-name" ng-click="serverNameClicked(server)">{{ server._source.name }}</a>
            </div>
        </div>
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" max-size="5" direction-links="true"></dir-pagination-controls>
        </div>

    </div>
    <div class="col-sm-9">
        <form class="form" style="margin-top: 20px;">
            <div class="input-group ">
                <input id="server-search" placeholder="Enter Server Info/Tags to search, * as wild card." ng-model="serverContentSearch" class="form-control"  tooltip-trigger="focus"
                       uib-tooltip="You can search plain string, use * as wild card. Or you can use lucene syntax like: (tags.AGS:RC AND tags.Role:Oracle) OR tags.Owner:Bill" type="search"/>
                 <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="searchContent()">
                        <span class="glyphicon glyphicon-search" aria-hidden="true" style="font-size: 20px"></span>
                    </button>
                 </span>
            </div>
        </form>
        <div id="single-server" ng-show="selectedServers.length <= 1">
            <h2>Server Details</h2>
            <hr/>
            <div ng-show="selectedServer.name">
                <div style='margin:30px'>
                    <span>Name: <b>{{selectedServer.name}}</b></span>
                    <!--show when appUserData presents in the parent controller-->
                    <button class="btn btn-danger pull-right" confirm-click='deleteServer()' confirm-message="Delete This Server?" ng-if="appUserData">
                        Delete This Server
                    </button>
                </div>
                <uib-tabset justified="true">
                    <uib-tab heading="Tags">
                        <div style="margin: 30px;">
                            <span><b>Tags</b></span>
                            <!--show when not editing AND appUserData presents in the parent controller-->
                            <div class="pull-right" ng-show="!editingTags && appUserData">
                                <button class="btn btn-primary" ng-click="editTags()">Edit Tags</button>
                            </div>
                            <div class="pull-right" ng-show="editingTags" style="margin-left: 10px;">
                                <button class="btn btn-default" ng-click="cancelEdit()">Cancel</button>
                            </div>
                            <div class="pull-right" ng-show="editingTags" style="margin-left: 10px;">
                                <button class="btn btn-success" ng-click="saveTags()">Save Tags</button>
                            </div>

                        </div>
                        <div id="static-tags" ng-show="!editingTags">
                            <table class="table table-hover table-bordered table-striped">
                                <tr ng-repeat="(key, value) in selectedServer.tags">
                                    <td>{{key}}</td>
                                    <td>{{value}}</td>
                                </tr>
                            </table>
                        </div>
                        <div id="editing-tags" ng-show="editingTags">
                            <table class="table table-hover table-bordered table-striped">
                                <tr ng-repeat="tag in tagsHolder">
                                    <td><input value="{{tag.key}}" ng-model="tag.key"/></td>
                                    <td><input value="{{tag.value}}" ng-model="tag.value"/></td>
                                    <td>
                                        <button class="btn btn-default" ng-click="deleteTag(tag.key)">Delete Tag</button>
                                    </td>
                                </tr>
                            </table>
                            <button class="btn btn-info pull-right" ng-click="addOneTag()">Add A Tag</button>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Internal Info">
                        <table class="table table-hover table-bordered table-striped">
                            <tr ng-repeat="(key, value) in selectedServer.internalInfo">
                                <td>{{key}}</td>
                                <td>{{value}}</td>
                            </tr>
                        </table>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
        <div id="multi-server" ng-show="selectedServers.length > 1">
            <h2>Selected Servers</h2>

            <table class="table table-hover table-bordered table-striped">
                <tr ng-repeat="server in selectedServers">
                    <td>{{server.name}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

