<div class="row ng-cloak">
    <div class="col-sm-3">
        <div id="formContainer" style="margin-top:20px; padding:30px" class=" panel panel-default">
            <label ng-repeat='server in servers track by $index'>
                <input type="checkbox" ng-model='server.selected' ng-click="checkBoxClicked(server)" class="checkbox" id="server{{$index}}"/>
                <label for="server{{$index}}"></label>
                <span>{{server._source.name}}</span>
            </label>
        </div>
    </div>
    <div class="col-sm-9">
        <div>
            <h2>Server Details</h2>
            <hr/>
            <div ng-show="selectedServer.name">
                <div style='margin:30px'>
                    <span>Name: <b>{{selectedServer.name}}</b></span>
                    <button class="btn btn-danger pull-right" confirm-click='deleteServer()' confirm-message="Delete This Server?">
                        Delete This Server
                    </button>
                </div>
                <uib-tabset justified="true">
                    <uib-tab heading="Tags">
                        <div style="margin: 30px;">
                            <span><b>Tags</b></span>
                            <div class="pull-right" ng-show="!editingTags">
                                <button class="btn btn-primary" ng-click="editTags()">Edit Tags</button>
                            </div>
                            <div class="pull-right" ng-show="editingTags" style="margin-left: 10px;">
                                <button class="btn btn-default" ng-click="cancelEdit()">Cancel</button>
                            </div>
                            <div class="pull-right" ng-show="editingTags" style="margin-left: 10px;">
                                <button class="btn btn-primary" ng-click="saveTags()">Save Tags</button>
                            </div>

                        </div>
                        <table class="table table-hover table-bordered table-striped" ng-show="!editingTags">
                            <tr ng-repeat="(key, value) in selectedServer.tags">
                                <td>{{key}}</td>
                                <td>{{value}}</td>
                            </tr>
                        </table>
                        <table class="table table-hover table-bordered table-striped" ng-show="editingTags">
                            <tr ng-repeat="tag in tagsHolder">
                                <td><input value="{{tag.key}}" ng-model="tag.key"/></td>
                                <td><input value="{{tag.value}}" ng-model="tag.value" /></td>
                                <td><button class="btn btn-default" ng-click="deleteTag(tag.key)">Delete Tag</button></td>
                            </tr>
                        </table>
                    </uib-tab>
                    <uib-tab heading="Internal Info">
                        <table class="table table-hover table-bordered table-striped">
                            <tr>
                                <td>CPU</td>
                                <td>{{selectedServer.internalInfo.CPU}}</td>
                            </tr>
                            <tr>
                                <td>memory</td>
                                <td>{{selectedServer.internalInfo.memory}}</td>
                            </tr>
                            <tr>
                                <td>OS type</td>
                                <td>{{selectedServer.internalInfo['OS type']}}</td>
                            </tr>
                            <tr>
                                <td>OS version</td>
                                <td>{{selectedServer.internalInfo['OS version']}}</td>
                            </tr>
                            <tr>
                                <td>kernel</td>
                                <td>{{selectedServer.internalInfo.kernel}}</td>
                            </tr>
                            <tr>
                                <td>fs type</td>
                                <td>{{selectedServer.internalInfo['fs type']}}</td>
                            </tr>
                            <tr>
                                <td>Cluster type</td>
                                <td>{{selectedServer.internalInfo['Cluster type']}}</td>
                            </tr>

                        </table>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>

