<div>
    <uib-tabset justified="true" class="tab-transition">
        <!--use Form to create server-->
        <uib-tab heading="Create By Form">
            <div style="margin-top:20px; padding:30px" class="row panel panel-default">
                <div class="col-md-8">
                    <form id="newHostFieldForm" name="vm.newHostFieldForm" style="margin: 30px;">
                        <div class="form-group required">
                            <label for="hostname" class="control-label">Host Name</label>
                            <input id="hostname" name="hostname" type="text" ng-model="vm.newFieldHost.name"
                                   placeholder="Host Name" class="form-control" required focus-on-load/>
                        </div>
                        <p class="h4" style="margin: 30px 0;">
                            Tags
                            <a class="btn btn-info pull-right" ng-click="vm.addOneTag()">Add A Tag</a>
                        </p>
                        <table class="table table-hover table-bordered table-striped editable-table">
                            <tr ng-repeat="tag in vm.tagsHolder">
                                <td><input value="{{tag.key}}" ng-model="tag.key" required class="form-control col-md-4"/></td>
                                <td><input value="{{tag.value}}" ng-model="tag.value" required class="form-control col-md-4"/></td>
                                <td class="col-md-2">
                                    <a class="btn btn-default btn-raised cell-delete-button" ng-click="vm.deleteTag(tag.key)">Delete Tag</a>
                                </td>
                            </tr>
                        </table>
                        <hr/>
                        <p class="h4" style="margin: 30px 0;">
                            Internal Info
                            <a class="btn btn-info pull-right" ng-click="vm.addOneInfo()">Add A Info</a>
                        </p>
                        <table class="table table-hover table-bordered table-striped editable-table">
                            <tr ng-repeat="newInfo in vm.internalInfoHolder">
                                <td><input value="{{newInfo.key}}" ng-model="newInfo.key" class="form-control col-md-4" required/></td>
                                <td><input value="{{newInfo.value}}" ng-model="newInfo.value" class="form-control col-md-4" required/></td>
                                <td class="col-md-2">
                                    <a class="btn btn-default btn-raised cell-delete-button" ng-click="vm.deleteInfo(newInfo.key)" >Delete Info</a>
                                </td>
                            </tr>
                        </table>
                        <button id="add-host-form" ng-click="vm.addFormHost()" class="btn btn-primary pull-right">Submit</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default" style="padding: 15px;">
                        <label class="bg-info help-block">The 'name' field will be used as key in storage. It must be
                            unique!</label>
                        <hr/>
                        <label></label>
                    </div>
                </div>
            </div>
        </uib-tab>
        <!--Tab 2 for form 'Create By JSON'-->
        <uib-tab heading="Create By JSON">
            <div id="formContainer" style="margin-top:20px; padding:30px" class="row panel panel-default">
                <div class="col-md-7">
                    <form id="newHostForm" name="vm.newHostForm">
                        <div class="form-group required">
                            <label for="hostDetail" class="control-label">Host Content</label>
                            <textarea id="hostDetail" name="hostDetail" ng-model="vm.newHostJson" class="form-control"
                                      placeholder="Host Detail (JSON)" required style="height: 500px;" focus-on-load></textarea>
                        </div>
                        <button id="add-host" ng-click="vm.addHost(vm.newHostJson)" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="col-md-5">
                    <div class="panel panel-default" style="padding: 15px;">
                        <label class="bg-info help-block">The 'name' field will be used as key in storage. It must be
                            unique!</label>
                        <hr/>
                        <label>The Host-Content should look something like</label>
               <pre>
{
    "name": "kwalxorclp03b",
    "tags": {
        "CostCenter": "CLD9998",
        "AGS": "ETS",
        "Owner": "Bob Cordes",
        "Purpose": "Oracle database",
        "Role": "Oracle"
    },
    "internalInfo": {
        "CPU": 61,
        "memory": "256G",
        "OS type": "Ubuntu",
        "OS version": "5.8",
        "kernel": "2.6.18",
        "fs type": "vxfs",
        "Cluster type": "VCS"
    }
}
               </pre>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>


    <script type="text/ng-template" id="confirmModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Are you sure you want to submit the request? </h3>
        </div>
        <div class="modal-body">
            <p>Host name: <b>{{ request.name }}</b></p>

            <div>
                <div>Host Details</div>
                <pre>{{ request.hostDetail | json}}</pre>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>